apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexure-redis
  labels:
    app.kubernetes.io/name: lexure-redis
    app.kubernetes.io/component: cache
    app.kubernetes.io/part-of: payment-watchdog
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: lexure-redis
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lexure-redis
        app.kubernetes.io/component: cache
        app.kubernetes.io/part-of: payment-watchdog
    spec:
      containers:
      - name: redis
        image: redis:7-alpine
        ports:
        - containerPort: 6379
        volumeMounts:
        - name: redis-data
          mountPath: /data
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: redis-pv-claim
