apiVersion: apps/v1
kind: Deployment
metadata:
  name: lexure-postgres
  labels:
    app.kubernetes.io/name: lexure-postgres
    app.kubernetes.io/component: database
    app.kubernetes.io/part-of: payment-watchdog
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: lexure-postgres
  template:
    metadata:
      labels:
        app.kubernetes.io/name: lexure-postgres
        app.kubernetes.io/component: database
        app.kubernetes.io/part-of: payment-watchdog
    spec:
      containers:
      - name: postgres
        image: postgres:15-alpine
        ports:
        - containerPort: 5432
        envFrom:
        - secretRef:
            name: postgres-secrets
        volumeMounts:
        - name: postgres-data
          mountPath: /var/lib/postgresql/data
      volumes:
      - name: postgres-data
        persistentVolumeClaim:
          claimName: postgres-pv-claim
