apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

metadata:
  name: payment-watchdog-web
  namespace: lexure

resources:
- namespace.yaml
- configmap.yaml
- deployment.yaml
- service.yaml
- ingress.yaml


images:
- name: payment-watchdog/web
  newTag: latest
labels:
- includeSelectors: true
  pairs:
    app: payment-watchdog
    component: web
    version: v1.0.0
