apiVersion: v1
kind: PersistentVolume
metadata:
  name: lexure-mvp-redis-pv
  labels:
    app: payment-watchdog-mvp
    type: local
spec:
  storageClassName: local-storage
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/tmp/lexure-mvp-redis"
  persistentVolumeReclaimPolicy: Retain
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: lexure-mvp-redis-pvc
  namespace: lexure-mvp
  labels:
    app: payment-watchdog-mvp
spec:
  storageClassName: local-storage
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
