apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: local-storage
  labels:
    app: payment-watchdog-mvp
provisioner: kubernetes.io/no-provisioner
volumeBindingMode: WaitForFirstConsumer
